@keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}

@font-face {
    font-family: "Nazanin Plus";
    src: url("../font/Digi\ Nazanin\ Plus\ Bold\ Circle.otf");
}
* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    font-family: "Nazanin Plus";
    background-color: rgb(84, 110, 122); 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loginpage {
    z-index: 2;
    width: 360px;
    height: 530px;
    border: none;
    border-radius: 10px;
    background-color: rgb(55, 71, 79);
    color:rgb(102, 187, 106) ;
    padding: 40px 50px 30px;
    box-shadow: 5px 5px 25px rgb(38, 50, 56);
}

.login-titel {
    text-align: center;
    margin-bottom: 25px;
    font-size: 34px;
}

.input-group {
    position: relative;
}

.icon {
    position: absolute;
    width: 25px;
    right: 225px;
    top: 27px;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
}

.login-input {
    margin-bottom: 25px;
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: none;
    border-width: 1px;
    padding-right:8px ;
    background-color: rgb(120, 144, 156);
    color: white;
    font-family: "Nazanin Plus";
}

input::placeholder {
    color: white;
    opacity: 1;
}

.forgotpassword {
    display: block;
    text-align: left;
    text-decoration: none;
    color: rgb(224, 224, 224);
    margin-top: 10px;
    margin-bottom: 30px;
}

.login-button {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 8px;
    background-color: rgb(102, 187, 106);
    border: none;
    color: white;
    cursor: pointer;
}

h4 {
    text-align: center;
    margin-top: 22px;
    font-size: 14px;
    color: rgb(224, 224, 224);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.facebook {
    background-color: rgb(63, 81, 181);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;

}

.x {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.google {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.register {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(102, 187, 106);
    margin-top: 25px;
    font-size: 18px;
    margin-bottom: 10px;
}

.circle-animatoin {
    position: fixed;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: spin 15s linear infinite;
    /* border: 8px solid rgba(0, 255, 200, 0.2); */
    background: repeating-conic-gradient(
        rgba(0,255,200,0.8) 1deg 0deg,   /* ضخامت هر تیک */
        transparent 12deg 14deg          /* فاصله بین تیک‌ها */
    );
}

.registerpage {
    z-index: 2;
    width: 360px;
    height: 580px;
    border: none;
    border-radius: 10px;
    background-color: rgb(55, 71, 79);
    color:rgb(102, 187, 106) ;
    padding: 38px 50px 30px;
    box-shadow: 5px 5px 25px rgb(38, 50, 56);
}

.register-titel {
    text-align: center;
    margin-bottom: 20px;
    font-size: 34px;
}

.register-btn {
    width: 100%;
    height: 45px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 0px;
    background-color: rgb(102, 187, 106);
    border: none;
    color: white;
    cursor: pointer;
}

.login {
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(102, 187, 106);
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}





